<%= form_for [:admin, @highlight] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @highlight,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :article_id -%>
    <%= f.text_field :article_id, :class => 'larger widest'  -%>
  </div>
  
  <div class='field'>
    <%= f.label :category_id -%>
    <%= f.text_field :category_id  -%>
  </div>
  
  <div class='field'>
    <%= f.label :color -%>
    <%= f.text_field :color  -%>
  </div>
  
  <div class='field'>
    <%= f.label :alignment -%>
    <%= f.text_field :alignment  -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.highlights.highlight'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @highlight.color)
              } %>
<% end -%>
